.aliya{
    background-color: blue;
}
.rahul{
    background-color: red;
}
.rahi{
    background-color: blueviolet;
}
.monika{
    background-color: aqua;
}
.riya{
    background-color: yellowgreen;
}